@import "reset.scss";

$color-main: #2b2d42;
$color-title: #ef2d56;
$color-accent: #e86629;
$color-alt: #23ba67;
$color-alt-light: #8cd867;
$white: white;

$font-body: 'Alegreya Sans', sans-serif;
$font-title: 'Roboto Slab', sans-serif;

$indent: 15px;

body {
  font: 14pt/1.6 $font-body;
  max-width: 800px;
  margin: 1em auto 0;
  padding: 0 (2 * $indent);
  color: $color-main;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: $font-title;
  font-weight: bold;
  letter-spacing: 1px;
}

em {
  font-style: italic;
  font-size: 1.02em;
  letter-spacing: .5px;
  &, & strong {
    color: $color-alt;
  }
}
strong {
  font-weight: bold;
  color: $color-accent;
}

header {
  position: relative;
  background: $color-title;
  padding: 3em 1em .5em;
  margin: -2em -3em 2em;
  transform: rotate(-2deg);

  * {
    color: $white;
  }
  > * {
    transform: rotate(.5deg);
  }
  h1 {
    font-size: 5em;
    margin: 0;
    padding: .2em .5em .3em;
    background: linear-gradient(to left, transparent 0%, $color-main 30%, transparent 100%);
    .kern {
      letter-spacing: -.1em;
    }
  }
  p.full {
    font-size: 1.5em;
    letter-spacing: .1ex;
    margin: -2em 0 0 1.7em;
  }
  p.date {
    position: absolute;
    color: $color-title;
    margin: -1.3em 0 0 30em;
  }
  h1, p {
    a {
      &:hover {
        text-decoration: underline;
        animation: blur .2s;
      }
    }
  }

  nav {
    ul {
      margin: 1em 0 0 2.5em;
    }
    li {
      font-family: $font-title;
      letter-spacing: .5px;
      display: inline;
      margin-right: 1.6em;

      a {
        color: $color-main;
        &:hover {
          color: $white;
          animation: blur .2s;
        }
      }
      &.current a {
        color: $white;
      }
    }
  }
}

main {
  a {
    font-weight: bold;
    color: $color-accent;
    text-decoration: none;
    border-bottom: 2px dotted;

    &:hover {
      color: $color-title;
      border-bottom-style: solid;
      animation: blur .2s;
    }
  }

  p {
    + p {
      margin-top: .5em;
    }
  }

  h1, h2 {
    transform: rotate(-1deg);
    margin: .5em (-$indent) .25em;
    line-height: 1.2;
  }
  h1 {
    font-size: 2em;
    line-height: 1.2;
    &, & a {
      color: $color-accent;
    }
    em {
      font-style: normal;
      color: $color-title;
    }
  }
  h2 {
    font-size: 1.25em;
    &, & a {
      color: $color-alt;
    }
  }
  h3 {
    margin-top: .5em;
  }

  ul, ol {
    p + & {
      margin: .5em $indent;
    }
    ul, ol {
      margin: 0 0 0 (2 * $indent);
    }
  }
  li {
    font-weight: bold;
    text-indent: -$indent / 2;
    margin-left: $indent;

    &:before {
      color: $color-alt;
      font-weight: bold;
      display: inline-block;
      margin-right: $indent / 2;
    }
    &:nth-child(3n+1):before {
      color: $color-title;
    }
    &:nth-child(3n+2):before {
      color: $color-accent;
    }
  }
  ul {
    li {
      &:before {
        content: '–';
        transform: rotate(-10deg);
      }
    }
  }
  ol {
    counter-reset: ol;
    li {
      &:before {
        counter-increment: ol;
        content: counter(ol);
        transform: rotate(-5deg);
      }
    }
  }

  dl {
    dt {
      font-weight: bold;
      float: left;
      clear: left;
      &:after {
        content: ': ';
      }
    }
    .authors {
      display: block;
      font-weight: normal;
    }
  }

  blockquote {
    background: $color-alt;
    padding: 1.5em 3em;
    margin: 1.5em -3em 1em;
    transform: rotate(1deg);

    &, * {
      color: $white;
    }
    > p {
      font-weight: bold;
      font-size: 1.5em;
    }
    > footer {
      margin-top: .5em;
      font-style: italic;
      letter-spacing: .5px;
      font-size: 1.1em;
      text-align: right;

      &:before {
        content: "—";
      }
    }
  }
}

body > footer {
  background: $color-accent;
  padding: 2em 3em;
  margin: 2em -3em 0;
  transform: rotate(-2deg);

  p {
    &, & * {
      color: $white;
    }
    font-size: 2.5em;
  }

  &:hover {
    animation: blur .5s;
  }
}

@keyframes blur {
    0% { filter: blur(0px); }
   70% { filter: blur(3px); }
  100% { filter: blur(0px); }
}

img.profile {
  width: 6em;
  float: right;
  margin-left: 1em;
  border: 5px solid $color-title;
  background: $color-title;
  transform: rotate(-5deg);
}
.affiliation {
  display: inline;
  font-weight: bold;
}
.email {
  display: inline;
  margin-left: 1em;
  &:before { content: "("; }
  &:after  { content: ")"; }
}

body.contributions {
  .inline li {
    font-weight: normal;
  }
}

body.program {
  $width: 3em;
  $padding: 1em;

  dt {
    font-weight: normal;
    text-align: right;
    width: $width - $padding;

    float: left;
    clear: left;

    &:after {
      content: "";
    }
  }
  dd {
    font-weight: bold;
    margin-left: $width;
  }
}

@media screen and (max-width: 800px) {
  header {
    padding: 2em 1em .5em;

    h1 {
      font-size: 3em;
      padding: 0 .5em .3em;
    }
    p.full {
      font-size: 1em;
      letter-spacing: .1ex;
      margin: -2em 0 0 1.5em;
    }
    p.date {
      display: none;
    }
    nav {
      font-size: .85em;
      ul {
        margin: 1em 0 0 2em;
      }
      li {
        margin-right: 1.4em;
        letter-spacing: 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 12pt;
  }
}

@media screen and (max-width: 500px) {
  header {
    margin-bottom: 0;

    h1 {
      margin: 0;
      padding: 0 .5em;
      font-size: 2em;
    }
    p.full {
      display: none;
    }
  }

  main {
    blockquote {
      p {
        font-size: 1.2em;
      }
    }
  }
}
