<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= h config[:site_name] %> - <%= h @item[:title] %></title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab:700%7CAlegreya+Sans:400,400i,700,700i">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body class="<%= h @item.identifier.to_s[/[a-z]+/] %>">
  <header>
    <h1><a href="/">DeSe<span class="kern">mW</span>eb2018</a></h1>
    <p class="date">8 October 2018</p>
    <p class="full"><a href="<%= h config[:venue][:site] %>"><%= h config[:venue][:name] %></a> workshop on Decentralizing the Semantic Web</p>
    <nav>
      <ul>
        <% main_pages.each do |page| %>
        <li<%= @item==page ? ' class="current"': '' %>><%= link_to page[:title], page %></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <p>Let’s put the <em>Web</em> back in the <em>Semantic Web</em>!</p>
  </footer>
</body>
</html>
